<div id="briefintro-menu"  >
        <ul>
        	<li><%=link_to "human", introduce_human_path%></li>
        	<li><%=link_to "nature", introduce_nature_path%></li>
        	<li><%=link_to "season", introduce_season_path%></li>
		<li><%=link_to "history", introduce_history_path%></li>
	</ul>
</div>
