<div id="briefintro-menu"  >
        <ul>
        	<li onclick='movepic("/assets/dashanba_human.png")'><button>human</button></li>
        	<li onclick='movepic("/assets/dashanba_history.png")'><button>history</button></li>
        	<li onclick='movepic("/assets/dashanba_nature.png")'><button>nature</button></li>
		<li onclick='movepic("/assets/dashanba_season.png")'><button>season</button></li>
	</ul>
</div>
<img id="briefintro_pic" src="/assets/dashanba_history.png">

<script>
	function movepic(img_src) {
		document.getElementById("briefintro_pic").src=img_src;
	}

</script>
