<div id="briefintro-menu"  >
        <ul>
        	<li onclick='movepic("/assets/dashanba_human.png")'>human</li>
        	<li onclick='movepic("/assets/dashanba_history.png")'>history</li>
        	<li onclick='movepic("/assets/dashanba_nature.png")'>nature</li>
		<li onclick='movepic("/assets/dashanba_season.png")'>season</li>
	</ul>
</div>
<img id="briefintro_pic" src="/assets/dashanba_history.png">

<script>
	function movepic(img_src) {
		document.getElementById("briefintro_pic").src=img_src;
	}

</script>
