<div id="introduction">
<%= image_tag("#{'welcome.png'}")%>
</div>
<iframe src="https://www.facebook.com/plugins/like.php?href=http://dashanba.herokuapp.com/introduce"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>

