season
<div id="briefintro-menu"  >
        <tr>
                <td><%=link_to "human", introduce_human_path%></td>
                <td><%=link_to "nature", introduce_nature_path%></td>
                <td><%=link_to "season", introduce_season_path%></td>
                <td><%=link_to "history", introduce_history_path%></td>
        </tr>
</div>

